.bg-royal {
    background-color: #0855a3;
}

.text-royal {
    color: #0855a3;
}

.btn-royal {
    background-color:#0855a3;
}

.text-white {
    color:#fff;
}

.footer {
    background-color: #0855a3;
     border-top: 1px solid #E7E7E7;
    text-align: center;
     padding: 20px;
    position: fixed;
    left: 0;
     bottom: 0;
     height: 60px;
    width: 100%;
}

.phantom {
    display: block;
    padding: 20px;
    height: 60px;
    width: 100%;
}

ul {
    list-style: none;
    margin-left: 0
}

li .profile {
    width: 250px;
    height: 40px;
    margin: auto;
    color: blue;
    padding-top: 6px;
    padding-bottom: 6px;
}

.zoom {
    transition: transform .2s; /* Animation */

  }
  
  .zoom:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .navbar-brand {
    text-align: center;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: white;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-image:   linear-gradient(to right, white 50%, black 50%) 2;
   }

   .navbar-dark .navbar-nav .nav-link {
       color: white !important;
   }

   .forgot-password {
    text-align: Center
   }