/* html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    /* overflow: hidden; */

/* } */ 

.bg-royal {
    background-color: #0855a3;
}

.text-royal {
    color: #0855a3;
}

.btn-royal {
    background-color:#0855a3;
}

.text-white {
    color:#fff;
}

.text-black {
    color:#000;
}

.btn-bw-blue {
    background-color: #0855a3;
    color: white;
   }

.footer {
    background-color: #0855a3;
     border-top: 1px solid #E7E7E7;
    text-align: center;
     padding: 20px;
    position: fixed;
    left: 0;
     bottom: 0;
     height: 60px;
    width: 100%;
}

.lead-add-on {
    position: relative; 
    margin: auto;
    /* bottom:100px; */
}

.small-text {
    font-size: 12px;
}

.phantom {
    display: block;
    padding: 20px;
    height: 60px;
    width: 100%;
}

ul {
    list-style: none;
    margin-left: 0
}

li .profile {
    width: 250px;
    height: 40px;
    margin: auto;
    color: blue;
    padding-top: 6px;
    padding-bottom: 6px;
}

.zoom {
    transition: transform .2s; /* Animation */

  }
  
  .zoom:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .deleteImage {
    position:absolute; 
    right:0;
  }
  .deletePinned {
    position:absolute; 
    right:10px;
  }
  .navbar-brand {
    text-align: center;
    width: 350px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: white;
    left: 100px;
   }

    .landing-logo {
       width: 600px;
       height: 300px;
       margin: auto;
   } 

   @media only screen and (max-width: 770px) {
    .landing-logo {
        max-width: 100%;
        height: auto !important;
    }
    .lead-add-on {
        position: relative; 
        margin: auto;
        bottom:70px;
    }
  }

   .navbar-dark .navbar-nav .nav-link {
       color: white !important;
   }

   .forgot-password {
    text-align: Center
   }

   .pad-10 {
    padding-bottom: 10px;
   }

   .pad-top-10 {
       padding-top: 10px !important;
   }


   .center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

  }

  .raise_add {
      padding-bottom: 5px;
  }

  .no-padding {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }

  .custom-button-size {
    height: 30px;
    font-size : 12px;
  }

  .height-35 {
    height: 35px;;
  }

  .toMargin {
      margin-top: 16px;
  }

  .landing-inner {
    padding-top: 50px !important;

 }
 
 .mb15 {
    margin-bottom: 15px;
 }
 .test {
     margin-bottom: 15px !important;
 }

 .posRelative {
    position: relative;
 }

 .contentInput {
     margin-left: 20px !important;
 }
  @media only screen and (max-height: 450px) {
     .landing-logo {
        position: relative; 
        margin: auto;
        bottom:150px;
    }
    .lead-add-on {
        position: relative; 
        margin: auto;
        bottom:150px;
    } 
  }

  @media only screen and (max-height: 375px) {
    .landing-logo {
       position: relative; 
       margin: auto;
       bottom:150px;
   }
   .lead-add-on {
       position: relative; 
       margin: auto;
       bottom:250px;
   } 
 }

 .alternativeButton{
     display: none;
 }

 /* xs in bootstrap is 768 */
 @media only screen and (max-width: 768px) {
    .alternativeButton{
        display: block;
    }
    .imageResize{
        width: 40%;
        height: 60%;
    }
    .centerImage{
        text-align: center
    }

    .profilesImages {
        display: none;
    }
 }

 .pinnedCard {
    /* width: 18 rem !important; */
    /* height: ; */
    margin-bottom: 10px;
 }